

.test {
    text-align: center;
    margin-top: 100px;
    size: 10px;
    font-family: sans-serif;
}

footer{
    text-align: center;
}

.class

a:hover {
    color: green !important;
}

.content a:hover{
    color: snow !important;
}
.content2 a:hover{
    color: green !important;
}

h3 {
    font-family: sans-serif;
} 

