.styles {
    text-align: center;
    padding: 20px 20px;
}

.AboutApp {
    text-align: center;
    padding: 30px;
}

.AuthorApp {
    text-align: center;
    padding: 30px;
}

.Home {
    text-align: center;
    padding: 30px;
}

.Todos {
    
}